www/node_modules
www/dist
www/package-lock.json

# local env files
www/.env.local
www/.env.*.local

# Compilation folder
www/src/pkg

# Log files
www/npm-debug.log*
www/yarn-debug.log*
www/yarn-error.log*
www/pnpm-debug.log*

# Editor directories and files
www/.idea
www/.vscode
www/*.suo
www/*.ntvs*
www/*.njsproj
www/*.sln
www/*.sw?
