[submodule "rust/sparrowhawk"]
	path = rust/sparrowhawk
	url  = https://github.com/bacpop/sparrowhawk.git
    branch = victordev
#    branch = master
    
[submodule "rust/ska.rust"]
	path = rust/ska.rust
	url  = https://github.com/vrbouza/ska.rust.git
    branch = master
[submodule "rust/sketchlib.rust"]
	path = rust/sketchlib.rust
	url  = https://github.com/vrbouza/sketchlib.rust.git
	branch = main
